*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Work Sans", sans-serif;

}

.btn{
    padding: 15px 30px;
    background-color:rgba(241, 91, 34, 1) ;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}
.header_content{
    background-image: url(images/banner/banner2.png);
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 20px;
    padding-right: 100px;
    max-width: 2000px;

}
 header .div_h1{
    width: 500px;
    text-align: end;
 }
 header .div_h1 h1{
    font-size: 65px;
 }
 header .div_p{
    width: 470px;
    /* height: 90px; */
    margin-bottom: 20px;

 }
header .div_p p{
    font-size: 16px;
    text-align: right;
}



.mani_sec_2{
    display: flex;
    padding: 50px;
    /* border: 1px solid black; */
    align-items: center;
    gap: 80px;
    /* margin: 0 auto; */
}
.main_section .mani_sec_2{
    margin: 0 auto;
    max-width: 1200px;
}
#h2{
    width: 400px;
    font-size: 35px;
}
#p{
    width: 400px;
    font-size: 16px;
    line-height: 25px;
    margin: 20px 0;
}
.points p{
    margin-bottom: 20px;
}
.main_sec_content{
    margin-top: 200px;
}