*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Work Sans", sans-serif;

}

.btn{
    padding: 15px 30px;
    background-color:rgba(241, 91, 34, 1) ;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}
.header_content{
    background-image: url(images/banner/banner2.png);
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 20px;
    padding-right: 100px;
    max-width: 2000px;

}
 header .div_h1{
    width: 500px;
    text-align: end;
 }
 header .div_h1 h1{
    font-size: 65px;
 }
 header .div_p{
    width: 470px;
    /* height: 90px; */
    margin-bottom: 20px;

 }
header .div_p p{
    font-size: 16px;
    text-align: right;
}



/* Main section styling */


.main_section{
    margin-top: 100px;
}
.main_section p{
    color: #444343;
}
.mani_sec_2{
    display: flex;
    padding: 50px;
    /* border: 1px solid black; */
    align-items: center;
    gap: 80px;
    /* margin: 0 auto; */
}
.main_section .mani_sec_2{
    margin: 0 auto;
    max-width: 1200px;
}
#h2{
    width: 400px;
    font-size: 35px;
}
#p{
    width: 400px;
    font-size: 16px;
    line-height: 25px;
    margin: 20px 0;
}
.points p{
    margin-bottom: 20px;
}
.main_sec_content{
    margin-top: 200px;
}
/* 2nd section styling */

.second_sec {
    width: 1600px;
    margin: 0 auto;
    /* border: 1px solid black; */
    /* align-items: center; */
    text-align: center;
    margin-bottom: 50px;
    padding: 50px;
}
.second_sec h2{
    font-size: 40px;
    margin-bottom: 50px;
}
.card{
    display: flex;
    /* align-items: center; */
    /* text-align: center; */
    /* border: 2px solid black; */
    justify-content: space-around;
}
.card h3{
    font-size: 25px;
}
.card p{
    font-size: 20px;
    margin: 16px 0;
    color: #737272;
   
}
/* Third Section */
.thard_sec_content{
    background: linear-gradient(90.00deg, rgba(241, 91, 34, 1),rgba(241, 91, 34, 0) 100%), url(images/watch.png);
    width: 1200px;
    height: 300px;
    background-repeat: no-repeat;
    /* background-size: cover; */
    margin: 50px auto;
      border-radius: 20px;  
    overflow: hidden; 
    
}
.thard_sec_content{
    padding: 70px;
}
.thard_sec_h2{
    color: white;
    font-size: 28px;
    width: 600px;
}
.thard_sec_content button{
    margin-top: 20px;
    color: rgba(241, 91, 34, 1);
    background-color: white;
    font-weight: bold;
}
/* Footer Section */
footer{
    display: flex;
    background-color: black;
    color: aliceblue;
    max-width: 2000px;
    /* max-height: 400px; */
    margin: 100px auto 0;
    padding: 100px 100px;
    justify-content: space-around;
}
input[type="text"]{
  width: 250px;
  padding: 12px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
background-color: black;
  /* outline: none; */
  color: white;
  margin: 10px 0;
}
footer h4{
    font-size:25px ;
}
footer .btn{
    margin-top: 10px;
    background-color: white;
    color: #F15B22;
    font-weight: bold;
}
footer h2{
    font-size: 40px;
}
footer p{
    width: 470px;
    margin: 20px 0;
    line-height: 25px;
}
footer .icon{
    margin-top: 20px;
    /* font-size: 24px; */
    cursor: pointer;
    display: flex;
    gap: 15px;
}
.foter_div{
    /* margin: 0px auto; */
    /* align-items: center; */


}